@section Scripts {
    <script src="~/js/grid.locale-en.js"></script>
    <script src="~/js/jquery.jqGrid.min.js"></script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h2>Employee List</h2>

<table id="jqGrid" class="table table-striped"></table>
<div id="jqGridPager"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#jqGrid").jqGrid({
            url: '@Url.Action("GetEmployees", "Employee")',
            datatype: "json",
            mtype: "GET",
            colModel: [
                { label: 'ID', name: 'id', key: true, width: 75 },
                { label: 'Name', name: 'name', width: 150 },
                { label: 'Position', name: 'position', width: 150 },
                { label: 'Age', name: 'age', width: 100 },
                { label: 'Office', name: 'office', width: 200 }
            ],
            pager: "#jqGridPager",
            rowNum: 10,
            rowList: [10, 20, 30],
            sortname: 'id',
            sortorder: 'asc',
            viewrecords: true,
            height: 'auto',
            caption: "Employee List"
        });
    });
</script>